{% extends "User/user-standard.html" %}
{% load static %}

{% block title %}Adopta!{% endblock %}

{% block content-header %}Adoptar{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <div id="googleMap" style="width:100%;height:640px;"></div>
        <script>
            function myMap() {
                var mapProp = {
                    center: new google.maps.LatLng(-33.457394, -70.664601),
                    zoom: 15
                };
                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                var infoWindow = new google.maps.InfoWindow({map: map});
                var geoMarker = new google.maps.Marker();
                geoMarker.setMap(map);
                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.watchPosition(function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        geoMarker.setPosition(pos);
                        infoWindow.setPosition(pos);
                        infoWindow.setContent('Location found.');
                        map.setCenter(pos);
                        var c = "{{ c_user }}";
                        var c_users = JSON.parse(c);
                        var o = "{{ ongs }}";
                        var ongs = JSON.parse(o);
                        var a = "{{ animals }}";
                        var animals = JSON.parse(a);
                        var f = "{{ favoritos }}";
                        var favoritos = JSON.parse(f);
                        var arrayLength = ongs.length;
                        for (var i = 0; i < arrayLength; i++) {
                            var unaONG = ongs[i];
                            var fav = false;
                            var length = favoritos.length;
                            for(var j = 0; j < length; j++) {
                                if(unaONG[i] == favoritos[j]) {
                                    fav = true;
                                    break;
                                }
                            }
                            if(fav) {
                                var imageUrl = "https://raw.githubusercontent.com/AzcarGabriel/cosas/master/star.png";
                                var size = new google.maps.Size(50, 50);
                            }
                            var markerImage = {
                                url: imageUrl,
                                scaledSize: size,
                            };
                            var myLatLng = {lat: unaONG[1], lng: unaONG[2]};
                            var marker = new google.maps.Marker({
                                position: myLatLng,
                                map: map,
                                title: unaONG[0].toString(),
                                icon: markerImage
                            });
                            marker.addListener('click', (function(ongs) {
                                return function(){
                                    var url = "{% url 'show-ong' %}";
                                }
                            })(ongs));
                        }
                    }, function () {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            }

            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoAvr9hMsVh7niRHRZLhJ_usowVZ4x2HE&callback=myMap"></script>
    {% else %}
        <div id="googleMap" style="width:100%;height:640px;"></div>
        <script>
            function myMap() {
                var mapProp = {
                    center: new google.maps.LatLng(-33.457394, -70.664601),
                    zoom: 15
                };
                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                var infoWindow = new google.maps.InfoWindow({map: map});
                var geoMarker = new google.maps.Marker();
                geoMarker.setMap(map);
                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.watchPosition(function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        geoMarker.setPosition(pos);
                        infoWindow.setPosition(pos);
                        infoWindow.setContent('Location found.');
                        map.setCenter(pos);
                    }, function () {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            }

            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoAvr9hMsVh7niRHRZLhJ_usowVZ4x2HE&callback=myMap"></script>
    {% endif %}

{% endblock %}


<!-- Optionally, you can add Slimscroll and FastClick plugins.
Both of these plugins are recommended to enhance the
user experience.

<script>
    function myMap() {
        var mapCanvas = document.getElementById("map");
        var myCenter = new google.maps.LatLng(-33.457394, -70.664601);
        var centerOne = new google.maps.LatLng(-33.453291, -70.667269);
        var centerTwo = new google.maps.LatLng(-33.455908, -70.674335);
        var centerThree = new google.maps.LatLng(-33.466617, -70.676903);
        var mapOptions = {center: myCenter, zoom: 15};
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var myCity = new google.maps.Circle({
            center: myCenter,
            radius: 15,
            strokeColor: "#0000FF",
            strokeOpacity: 0.7,
            strokeWeight: 2,
            fillColor: "#0000FF",
            fillOpacity: 0.4
        });
        var map = new google.maps.Map(mapCanvas, mapOptions);
        myCity.setMap(map);
        google.maps.event.addListener(map, 'click', function (event) {
            placeMarker(map, event.latLng);
        });
        var infowindow = new google.maps.InfoWindow({
            content: "ONG Favorita"
        });
        var markerOne = new google.maps.Marker({
            position: centerOne,
            icon: "favorito.png"
        });
        markerOne.setMap(map);
        infowindow.open(map, markerOne);
    }

    function placeMarker(map, location) {
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
        var infowindow = new google.maps.InfoWindow({
            content: 'Nombre ONG'
        });
        infowindow.open(map, marker);
    }
</script>
-->
<!-- Mapa de google
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKrwK5Ra7Lrbam0i1ifeMrlPHnN1Tctpk&callback=myMap"></script>
-->
